@model Boolean

<div class="forgot-password-page">
    <h1 class="title">FORGOT PASSWORD</h1>
    <div class="grant-message">Please insert your username/email to reset your password</div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-body">
                    @if (Model)
                    {
                        <label>A email has been sent to your address, please follow the instructions</label>
                    }
                    else
                    {
                        <form method="post">
                            <div class="form-group">
                                <label>Username/E-Mail</label>
                                <input name="username" placeholder="user@email.com" class="form-control" autofocus />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary btn-block" type="submit" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
