@model Boolean
@if (Model)
{
    <label>A email has been sent to your address, please follow the instructions</label>
} 
else
{
    <form method="post">
        <label>Please insert your username/email to reset your password</label>
        <input name="username" />
        <input type="submit" />
    </form>
}
