@model (Boolean isValid, String token)
@if (Model.isValid)
{
    <form method="post">

        <input name="token" value="@Model.token" type="hidden"/>

        <label>New password</label>
        <input name="password" type="password"/>

        <label>Confirm password</label>
        <input name="confirm_password" type="password"/>

        <input type="submit" />
    </form>
}
else
{
    <label>The specified token is invalid</label>
}
