@model (Boolean isValid, String token)

<div class="reset-password-page">
    <h1 class="title">PASSWORD RECOVERY</h1>
    <div class="grant-message">Please insert your new password.</div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-body">
                    @if (Model.isValid)
                    {
                        <form method="post">

                            <input name="token" value="@Model.token" type="hidden" />

                            <div class="form-group">
                                <label>New password</label>
                                <input name="password" type="password" class="form-control" autofocus />
                            </div>

                            <div class="form-group">
                                <label>Confirm password</label>
                                <input name="confirm_password" type="password" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input class="btn btn-primary btn-block" type="submit" />
                            </div>
                        </form>
                    }
                    else
                    {
                        <label>The specified token is invalid</label>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

