body {
    margin-top: 65px;
    min-height: calc(100vh - 65px);
    background: rgb(24,45,64);
    background: linear-gradient(125deg, rgba(24,45,64,1) 0%, rgba(0,169,227,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100%;
    align-items: center;
}

.panel {
    padding: 36px;
}

.page-title {
    color: white;
    text-align: center;
}

.login-page {
    text-align: center;
    width: 100%;
    padding-top: 48px;
}

.page-consent {
    width: 100%;
    padding-top: 48px;
}

.consent-title {
    text-align: center;
    color: white;
}

    .consent-title h1 {
        margin: 10px 0 5px 0;
    }

        .consent-title h1 small {
            color: white;
        }

    .consent-title .app-name {
        margin: 20px 0 10px 0;
    }

.grant-message {
    text-align: center;
    color: white;
    margin: 16px 0;
}

.consent-buttons > .panel-heading {
    text-align: center;
    border: 0;
}

.consent-buttons > .list-group > .list-group-item:last-child {
    border-bottom: 0;
}

.consent-remember {
    text-align: center;
    margin-top: 14px;
}

.logged-out {
    width: 100%;
    padding-top: 48px;
    color: white;
    text-align: center;
}

    .logged-out > .message small {
        color: white;
    }

.forgot-password-page {
    width: 100%;
    padding-top: 48px;
}

.forgot-password-page > .title {
    text-align: center;
    color: white;
}

.reset-password-page {
    width: 100%;
    padding-top: 48px;
}

.reset-password-page > .title {
    text-align: center;
    color: white;
}

.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.page-consent .client-logo {
    float: left;
}

    .page-consent .client-logo img {
        width: 80px;
        height: 80px;
    }

.page-consent .consent-buttons {
    margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description {
    margin-left: 25px;
}

    .page-consent .consent-form .consent-description label {
        font-weight: normal;
    }

.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}

.grants .page-header {
    margin-bottom: 10px;
}

.grants .grant {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

    .grants .grant img {
        width: 100px;
        height: 100px;
    }

    .grants .grant .clientname {
        font-size: 140%;
        font-weight: bold;
    }

    .grants .grant .granttype {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant .created {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant .expires {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant li {
        list-style-type: none;
        display: inline;
    }

        .grants .grant li:after {
            content: ', ';
        }

        .grants .grant li:last-child:after {
            content: '';
        }
